/* Styles */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

ul.li {
    list-style-type:none;
}

.banner{
    background: url('butterflyWall.jpg') no-repeat center center fixed;
}